<div class="modal fade" id="siteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lance</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formBidValue" class="form mt-4" (submit)="addBidValue()">
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="bid_value">Valor do Lance:</label>
              <input
                formControlName="bid_value"
                placeholder="Valor do lance"
                class="form-control"
                type="currency"
                min="0.01"
                step="0.01"
                currencyMask
                autofocus
                required >
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" data-dismiss="modal">Confirmar Lance</button>
      </div>
    </div>
  </div>
</div>
