<div class="row">
  <div class="col-sm-4 mb-3">
    <div class="card w-75">
      <img class="card-img-top" src="../../../assets/lotes_175_jeep-compass-2017_www.leiloessumare.com_zz17166c8559.jpg">
      <div class="card-body">
        <h4 class="card-title">Titulo do leilão</h4>
        <h6 class="card-subtitle mb-2 text-muted">Valor inicial</h6>
        <h5 class="card-subtitle mb-2 text-muted">R$ 120,00</h5>
        <h6 class="card-subtitle mb-2 text-muted">Lance mínimo</h6>
        <h5 class="card-subtitle mb-2 text-muted">R$ 20,00</h5>
      </div>
      <div class="card-body">
          <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#siteModal">Dar Lance</button>
      </div>
      <div class="card-footer text-center">
        <h6 class="card-subtitle mb-2 text-success">Encerra em: 07:05:23</h6>
      </div>
    </div>
  </div>
</div>
