
<thf-container class="thf-lg-12 thf-mt-2 thf-mb-2">
    <thf-divider class="thf-md-12" t-label="Meus Lances"></thf-divider>
    <div>
        <thf-widget
            class="thf-md-12 thf-lg-2 thf-mt-2 thf-mb-2">

            <div class="thf-font-subtitle thf-text-center">47</div>
            <div class="thf-text-center">Leilões Participados</div>
        </thf-widget> 
        
        <thf-widget
        class="thf-md-12 thf-lg-2 thf-mt-2 thf-mb-2">

            <div class="thf-font-subtitle thf-text-center">94</div>
            <div class="thf-text-center">Lances Realizados</div>
        </thf-widget>  

        <thf-widget
            class="thf-md-12 thf-lg-2 thf-mt-2 thf-mb-2">

            <div class="thf-font-subtitle thf-text-center">8</div>
            <div class="thf-text-center">Leilões Vencidos</div>
        </thf-widget>  

        <thf-widget
            class="thf-md-12 thf-lg-2 thf-mt-2 thf-mb-2">

            <div class="thf-font-subtitle thf-text-center">R$ 9.231</div>
            <div class="thf-text-center">Reais em Lances</div>
        </thf-widget> 


        <thf-widget
            class="thf-md-12 thf-lg-2 thf-mt-2 thf-mb-2">

            <div class="thf-font-subtitle thf-text-center">R$ 29</div>
            <div class="thf-text-center">Reais em prejuizo</div>
        </thf-widget> 

    </div>
</thf-container>

<thf-container class="thf-lg-12 thf-mt-2 thf-mb-2">
    <thf-divider class="thf-md-12" t-label="Leilões Abertos"></thf-divider>
    <div>

    </div>
</thf-container>
