<thf-toolbar t-title="Portal de Leilões"></thf-toolbar>

<div class="thf-mt-1 thf-lg-9">  
  <thf-widget class="thf-md-12 thf-sm-mt-1 thf-mt-1 thf-lg-mt-1" t-title="Meus Lances">
    <div class="thf-row">
      <thf-tag *ngFor="let lances of lances"
        class="thf-md-12 thf-lg-2"
        [t-label]="lances.label"
        [t-type]="lances.type"
        [t-value]="lances.value">
      </thf-tag>
    </div>
  </thf-widget>
</div>

<thf-toolbar t-title="Leilões abertos"></thf-toolbar>

<div class="thf-mt-1 thf-lg-9">
  <thf-widget class="thf-md-12 thf-sm-mb-1 thf-mb-1 thf-lg-mb-1">
    <div class="thf-row">
      <div class="thf-md-3 thf-lg-2">
        <thf-avatar t-size="lg" t-src="assets/graphics/{{ userData.photo }}"></thf-avatar>
      </div>
      <div class="thf-md-14 thf-lg-3">
        <div class="thf-mb-1">
          <thf-info
            t-label="Nome do Leilão"
            [t-value]="userData.name">
          </thf-info>
          <thf-tag 
            t-value="Encerra em 07:05:23">
          </thf-tag>
          <thf-tag
            t-value="Valor atual: R$ 95,00">
        </thf-tag>
        </div>
        <div class="thf-mb-1">
          <thf-info
            class="thf-mt-2"
            t-label="Email"
            [t-value]="userData.email">
          </thf-info>
        </div>
      </div>
      <div class="thf-md-14 thf-lg-2">
        <thf-avatar t-size="lg" t-src="assets/graphics/{{ userData.photo }}"></thf-avatar>
      </div>
      <div class="thf-md-3 thf-lg-3">
        <div class="thf-mb-1">
          <thf-info
            t-label="Nome do Leilão"
            [t-value]="userData.name">
          </thf-info>
          <thf-tag 
            t-value="Encerra em 07:05:23">
          </thf-tag>
          <thf-tag
            t-value="Valor atual: R$ 95,00">
        </thf-tag>
        </div>
        <div class="thf-mb-1">
          <thf-info
            class="thf-mt-2"
            t-label="Email"
            [t-value]="userData.email">
          </thf-info>
        </div>
      </div>      
    </div>  
  </thf-widget>
 