<thf-container class="thf-lg-12 thf-mt-2 thf-mb-2">
    <thf-divider class="thf-md-12" t-label="Rascunhos"></thf-divider>
    <div>
        <app-auction [template_type]="1"></app-auction>  
        <app-auction [template_type]="1"></app-auction>    
    </div>
</thf-container>

<thf-container class="thf-lg-12 thf-mt-2 thf-mb-2">
    <thf-divider class="thf-md-12" t-label="Meus Leilões"></thf-divider>
    <div>
        <app-auction [template_type]="2"></app-auction>  
        <app-auction [template_type]="2"></app-auction>  
    </div>
</thf-container>

<thf-container class="thf-lg-12 thf-mt-2 thf-mb-2">
    <thf-divider class="thf-md-12" t-label="Leilões Finalizados"></thf-divider>
    <div>
        <app-auction [template_type]="3"></app-auction>  
        <app-auction [template_type]="3"></app-auction>  
    </div>
</thf-container>
     
